{% extends "base.html" %}

{% block content %}


<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{MEDIA_URL}}{{object.image}}" class="img-fluid" alt="">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">


        <!--Content-->
        <div class="p-4">
          <h1 class="">{{object.title}}</h1>

          <div class="mb-3">
            <a href="/{{object.get_category_display.lower}}">
              <span class="badge bg-danger text-white mr-1">{{object.get_category_display}}</span>
            </a>
          </div>

          <p class="lead">
            {% if object.price_customized %}
            <span class="text-secondary mr-1">
              <b>${{ object.price }}</b>
            </span>
            <span><b class="text-warning">Premium: ${{ object.price_customized }}</b></span>
            {% else %}
            <span>${{ object.price }}</span>
            {% endif %}
          </p>
          <p class="lead font-weight-bold">{{object.date}}</p>


          <p class="lead font-weight-bold"><b>Descripción</b></p>

          <p>{{ object.description }}</p>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->
      <form class="justify-content-left">
        <div class="row row-cols-3">
          <div class="col mb-3">
            <label for="" class="form-label mx-2">Modelo</label>
            <select class="form-select w-100" name="model" id="model">
              <option selected>Elige uno</option>
              <option value="model1">Modelo 1</option>
              <option value="model2">Modelo 2</option>
              <option value="model3">Modelo 3</option>
            </select>
          </div>
          <div class="col mb-3">
            <label for="" class="form-label mx-2">Color</label>
            <select class="form-select w-100" name="color" id="model">
              <option selected>Elige uno</option>
              <option value="model1">Color 1</option>
              <option value="model2">Color 2</option>
              <option value="model3">Color 3</option>
            </select>
          </div>
          <div class="col mb-3">
            <label for="" class="form-label mx-2">Tipografía</label>
            <select class="form-select w-100" name="typing" id="model">
              <option selected>Elige uno</option>
              <option value="model1">Comic Sans</option>
              <option value="model2">Calibri</option>
              <option value="model3">Arial</option>
            </select>
          </div>
        </div>
        <div class="row row-cols-1">
          <div class="col text-center"> 
            <button class="col btn btn-primary btn-md my-0 p" type="submit">
            Añadir al carrito
            <i class="fas fa-shopping-cart ml-1"></i>
            </button>
          </div> 
        </div>
      </form>
    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Información adicional</h4>

        <p>
          Disponemos de 3 estilos de personalización de entradas.
          La entrada por defecto cuenta con el nombre del concierto y artista junto con los datos del concierto.
          Los demás estilos de entrada incluyen las imágenes de cartelera del concierto así como todos los datos.
        </p>
        <img src="/resources/images/tickets/Ejemplo_entrada.png" alt="Ticket example" class="img-fluid">
        <div class="mt-3">
          <p>
            ¿Tienes algún familiar o amigo al que no sabes que regalar? Aprovecha y personaliza una entrada con las herramientas
            que ponemos a tu disposición.
          </p>
        </div>
        
        <small class="text-secondary">Las entradas pueden ser adquiridas por el precio estandar en caso de no personalizarse.</small>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">
      {% for ticket in tickets %}
      <!--Grid column-->
      
      <div class="col-lg-4 col-md-12 mb-4">
        <a href="{{ticket.get_absolute_url}}">
          <img src="{{MEDIA_URL}}{{ticket.image}}" class="img-fluid" style="height:80%">
        </a>
      </div>
      
      <!--Grid column-->
      {% endfor %}

    </div>
    <!--Grid row-->

  </div>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</main>
{% endblock content %}