{% extends "base.html" %}
{% block content %}

  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col">
          <p><span class="h2">Carrito de la compra </span><span class="h4">({{tickets_num}} elemento/s en tu carrito)</span></p>



              <div class="row align-items-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="text-align: center;" scope="col">Entrada</th>
                      <th style="text-align: center;" scope="col">Nombre</th>
                      <th style="text-align: center;" scope="col">Personalizada</th>
                      <th style="text-align: center;" scope="col">Cantidad</th>
                      <th style="text-align: center;" scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for ticket in tickets %}
                  <div class="card" style="width: 80vw; background-color:gray; margin-bottom: 10px;">
                    
                    <tr style="text-align: center;">
                      <th scope="row">
                        <img src="{{MEDIA_URL}}{{ticket.ticket.image}}"
                        class="img-fluid" style="width:200px; height:auto; max-height:100px; max-width:150px" alt="Generic placeholder image"></th>
                      <td style="text-align: center; vertical-align: middle;" >{{ ticket.ticket.title }}</td>
                      <td style="text-align: center; vertical-align: middle;">
                        {% if ticket.customized  %}
                          Sí
                        {% else %}
                          No
                        {% endif %}
                        </td>
                      <td style="text-align: center; vertical-align: middle;">
                        <input name="{{ ticket.ticket.slug }}" style="text-align: center; width:40px;" type="number" value="{{ ticket.quantity }}" min="1" max="100">
                        <br>
                        <a href="{% url 'main:remove-from-cart' ticket.ticket.slug%}">Eliminar</a>
                        
                      </td>
                      <td style="text-align: center; vertical-align: middle;">{{ ticket.ticket.price }}0€</td>
                    </tr>
                  </div>
                {% endfor %}
                </tbody>
              </table>
              </div>

            </div>
          </div>
          <br>
          <div class="card mb-4">
            <div class="card-body p-4">

              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Total carrito:</span> <span
                    class="lead fw-normal">$799</span>
                </p>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-end">
            <a href="/">
              <button type="button" class="btn btn-light btn-lg me-2" style="  border: 1px solid gray;">
              Continuar Comprando</button></a>
            <a href="checkout">
              <button type="button" style="background-color:#ffc107;"class="btn  btn-lg">Terminar pedido</button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <script>
    $('[type=number]').change(function(){
      $.ajax({
        type: 'POST',
        url: '{% url "cartupdate" %}',
        data: {'ticket_slug': this.getAttribute("name"),
              'number': this.value,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
    }).done(function (result) {

    });
    })
  </script>
  {% endblock content %}