{% extends "base.html" %}

{% block content %}
  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col">
          <p><span class="h2">Carrito de la compra </span><span class="h4">({{tickets_num}} elemento/s en tu carrito)</span></p>



              <div class="row align-items-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th style="text-align: center;" scope="col">Entrada</th>
                      <th style="text-align: center;" scope="col">Nombre</th>
                      <th style="text-align: center;" scope="col">Personalizada</th>
                      <th style="text-align: center;" scope="col">Cantidad</th>
                      <th style="text-align: center;" scope="col">Precio Unidad</th>
                      <th style="text-align: center;" scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for ticket in tickets %}
                  <div class="card" style="width: 80vw; background-color:gray; margin-bottom: 10px;">
                    
                    <tr style="text-align: center;">
                      <th scope="row">
                        <a href="{{ticket.ticket.get_absolute_url}}">
                          <img src="{{MEDIA_URL}}{{ticket.ticket.image}}"
                          class="img-fluid" style="object-fit: cover; width: 150px;height: 100px;"  alt="Generic placeholder image">
                        </a></th>
                      <td style="text-align: center; vertical-align: middle;" >{{ ticket.ticket.title }}</td>
                      <td style="text-align: center; vertical-align: middle;">
                        {% if ticket.customized  %}
                          Sí
                        {% else %}
                          No
                        {% endif %}
                        </td>
                      <td style="text-align: center; vertical-align: middle;">
                        <input style="text-align: center; width:40px;" class="quantity" type="number" value="{{ ticket.quantity }}" min="1" max="100">
                        <br>
                        <a href="{% url 'main:remove-from-cart' ticket.ticket.slug%}">Eliminar</a>
                        
                      </td>
                      <td class="price_unit" style="text-align: center; vertical-align: middle;">{{ ticket.ticket.price }}0€</td>
                      <td class="price" id="{{forloop.counter0}}" style="text-align: center; vertical-align: middle;"></td>
                    </tr>
                  </div>
                {% endfor %}
                </tbody>
              </table>
              </div>

            </div>
          </div>
          <br>
          <div class="card mb-4">
            <div class="card-body p-4">

              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Total carrito:</span> 
                  <span id="total_price" class="lead fw-normal">$799</span>
                </p>
              </div>

            </div>
          </div>

          <div class="d-flex justify-content-end">
            <a href="/">
              <button type="button" class="btn btn-light btn-lg me-2" style="  border: 1px solid gray;">
              Continuar Comprando</button></a>
            <a href="checkout">
              <button type="button" style="background-color:#ffc107;"class="btn  btn-lg">Terminar pedido</button>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
  
  <script>
    var all_input_quantity = document.getElementsByClassName("quantity");
    var all_td_price_unit = document.getElementsByClassName("price_unit");
    var all_td_price = document.getElementsByClassName("price");
    var total_price = document.getElementById("total_price");

    calculate_total_ticket_price()
    calculate_total_price()

    function calculate_total_ticket_price(){
      for(var i = 0; i < all_input_quantity.length; i++) {
        quantity = all_input_quantity[i].value;
        price_unit = all_td_price_unit[i].textContent.substring(0,5);
        price = document.getElementById(i);

        price.textContent = quantity * price_unit + ".00€";
      }
    }

    function calculate_total_price(){
      let total_tickets_price = 0.;
      let tickets_price = 0.;
      for(var i = 0; i < all_input_quantity.length; i++) {
        tickets_price = parseFloat(all_td_price[i].textContent.substring(0,5));
        total_tickets_price += tickets_price;
      }
      total_price.textContent = total_tickets_price + ".00€";
    }
  </script>
    {% endblock content %}