{% extends "base_cart.html" %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">

        <a class="navbar-brand" href="/"><img id="logo" src="/resources/images/logo.png" class="" alt="Acme Concerts"></a>
        <h2>Acme Concerts</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tu carrito</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Anuel</h6>
                <small class="text-muted">Sevilla - 12 de Diciembre 2022</small>
            </div>
            <span class="text-muted">120€</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Aitana</h6>
                <small class="text-muted">Malaga - 5 de Febrero de 2023</small>
            </div>
            <span class="text-muted">80€</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Melendi</h6>
                <small class="text-muted">Badajoz - 23 de Marzo de 2023</small>
            </div>
            <span class="text-muted">50€</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
                <h6 class="my-0">Codigo promocional</h6>
                <small>ILOVEPGPI</small>
            </div>
            <span class="text-success">-10€</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>140€</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Canjear</button>
            </div>
            </div>
        </form>
        </div>
        <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Dirección de envío</h4>
        <form class="needs-validation" novalidate>
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                Necesitamos un nombre válido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Apellidos</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                Necesitamos un apellido válido.
                </div>
            </div>
            </div>

            <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="">
            <div class="invalid-feedback">
                Introduce un email válido.
            </div>
            </div>

            <div class="mb-3">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" placeholder="" required>
            <div class="invalid-feedback">
                Introduce una dirección valida
            </div>
            </div>

            <div class="mb-3">
            <label for="address2">Detalles adicionales <span class="text-muted">(Opcional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="">
            </div>

            <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">País</label>
                <select class="custom-select d-block w-100" id="country" required>
                <option value="">Elige...</option>
                <option>España</option>
                </select>
                <div class="invalid-feedback">
                Selecciona un
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">Ciudad</label>
                <select class="custom-select d-block w-100" id="state" required>
                <option value="">Elige...</option>
                <option>Sevilla</option>
                <option>Cadiz</option>
                <option>Malaga</option>
                <option>Almeria</option>
                <option>Granada</option>
                <option>Huelva</option>
                <option>Cordoba</option>
                <option>Jaen</option>
                </select>
                <div class="invalid-feedback">
                Introduce una ciudad.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Código Postal</label>
                <input type="text" class="form-control" id="zip" placeholder="" required>
                <div class="invalid-feedback">
                Introduce un código postal.
                </div>
            </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
            <input checked type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Mi dirección de envío es la misma que mi dirección de facturación</label>
            </div>
            <div class="custom-control custom-checkbox">
            <input checked type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Guardar información para futuras compras</label>
            </div>
            <hr class="mb-4">

            <h4 class="mb-3">Métodos de pago</h4>

            <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                Name on card is required
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                Credit card number is required
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                Expiration date required
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                Security code required
                </div>
            </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>    
        </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021 - 2045 Company Name</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>
{% endblock content %}