{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Iniciar Sesion" %}{% endblock %}

{% block content %}

<section class="vh-100" style="background-color: #dfdfdf;">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-4 d-none d-md-block">
                <img style="display:flex; object-fit: cover;width: 100%;height: 100%; "src="https://wallpaperaccess.com/full/633415.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                  {% csrf_token %}

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Acme Concerts</span>
                  </div>
                  
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesión con tu cuenta</h5>
                  {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>The username and/or password you specified are not correct.</strong>
                    </div>
                  {% endif %}
                  <div class="form-outline mb-4">
                    <input name="login" type="text" id="form2Example17" class="form-control form-control-lg" required id="id_login" />
                    <label class="form-label" for="form2Example17">Nombre de usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="form2Example27" class="form-control form-control-lg" required id="id_password"/>
                    <label class="form-label" for="form2Example27">Contraseña</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block primaryAction" type="submit">Iniciar Sesión</button>
                  </div>

                  <a class="small text-muted" href="{% url 'account_reset_password' %}">¿Se te ha olvidado la contraseña?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes cuenta todavía? 
                    <a href="{{ signup_url }}" style="color: #393f81;">Regístrate aquí</a></p>
                    <a href="#!" class="small text-muted">Términos de uso.</a>
                  <a href="#!" class="small text-muted">Política de privacidad</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
