{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    
    <section class="vh-100" style="background-image: url('https://wallpaperaccess.com/full/1569677.jpg');">
        <div class="container py-4 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-8">
              <div class="card" style="background-color: #dfdfdf; opacity:80%; border-radius: 1rem;">
                
                  <div class="card-body p-4 p-lg-5 text-black" style="display: grid;place-content: center;">
                    
                    <h1>{% trans "Reestablecer contraseña" %}</h1>
    
                    <p>{% blocktrans %}Te hemos enviado un correo electrónico. Si no lo has recibido, mira tu seccion de Spam. Si no recibes tu correo en unos minutos,  contacta con nosotros .{% endblocktrans %}</p>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}
