/*Aquí es para crear el css custom que vayamos a usar */

#search-bar {
    display: flex;
    align-self: center;
    columns: 2;


}

#search-button  {
    margin-left: 1 rem;
}

#cart   {
    max-height: 3rem;
}

#logo   {
    max-height: 4rem;
    margin-left: 1rem;
}