{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        <h3>Tickets {{categoria}}</h3>
        <br>
        <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <div class="row wow fadeIn">
            {% for ticket in items %}
                <div class="col-lg-3 col-md-6 mb-4">

                    <div class="card">

                        <div class="view overlay">
                        {% if ticket.stock == 0 %}
                            <img src="/resources/images/agotado.png" style="object-fit: cover; width: 305px;height: 200px;" class="card-img-top">
                            <a href="{{ticket.get_absolute_url}}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                            {% else %}
                            <img src="{{MEDIA_URL}}{{ticket.image}}" style="object-fit: cover; width: 305px;height: 200px;" class="card-img-top">
                            <a href="{{ticket.get_absolute_url}}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        {% endif %}
                        </div>

                        <div class="card-body text-center">
                            <a href="">
                                <span class="badge bg-danger text-white mr-1">{{ticket.get_category_display}}</span>
                            </a>
                            
                                <h5>
                                    <a href="{{ticket.get_absolute_url }}" >
                                        <span class="badge badge-pill text-dark"><h5><strong>{{ticket.title}} </strong></h5></span>
                                    </a>
                                </h5>
                            

                            <h5 >
                            <strong>
                                {% if ticket.price %}
                                <span><b class="text-warning"> {{ ticket.price_customized }}€</b></span>
                                |
                                <span class="text-secondary mr-1">
                                    <b>{{ ticket.price }}€</b>
                                </span>
                                {% else %}
                                <span>{{ ticket.price_customized }}€</span>
                                {% endif %}
                            </strong>
                            </h5>

                        </div>

                    </div>

                </div>
            {% endfor %}
        </div>

      </section>
    </div>
</main>

{% endblock content %}