{% extends "base.html" %}

{% block content %}

<div class="card" style=" display: table; margin-right: auto; margin-left: auto; text-align: center; width: 80vw;">
    <div class="card-body">
      <h5 class="card-title"><strong>Política de devoluciones</strong></h5>
      <br>
      <p class="card-text" style="text-align: justify">
        Acme Concerts no contempla la posibilidad de realizar una devolucion de una entrada debido a que todas nuestras entradas son únicas e intransferibles lo que produce que no puedan ser revendidas tampoco.

        Las devoluciones están sujetas a la Política de ventas y reembolsos de Acme Concerts. Si deseas un cambio en la personalización de tus entradas, puedes devolvernos tus entradas en un plazo de 4 días naturales a partir de la fecha de entrega y con un coste variable podras mejorar tu entrada a una que cumpla tus expectativas. 

        Si deseas devolver el pedido debido a un fallo de nuestro software, utiliza nuestra página web de contacto con nosotros. Deberás facilitarnos los siguientes datos:

        N.º de pedido web
        La dirección completa en la que podemos recoger los artículos
        Un número de teléfono de contacto
        La hora a la que prefieres que pase el transportista
        Cuando recibamos tu correo electrónico, te facilitaremos un número de autorización para la recogida de material (RMA). Indica claramente este número en el embalaje de los artículos que vas a devolver para agilizar el procesamiento de la devolución.

        Consulta el apartado n.º 7 de nuestros Términos y Condiciones para obtener mas información acerca de los artículos que pueden devolverse y los cargos de devolución, en su caso.
    </div>
</div>
<br>
<div class="card" style=" display: table; margin-right: auto; margin-left: auto; text-align: center; width: 80vw;">
    <div class="card-body">
      <h5 class="card-title"><strong>Reembolsos</strong></h5>
      <br>
      <p class="card-text" style="text-align: justify">
        Cuando recibimos tu artículo, si se trata un fallo por nuestra parte, recibirás un reembolso inmediatamente. 

        Si has pagado con tarjeta de crédito o débito, el reembolso se remite a la entidad emisora de la tarjeta en un plazo de cinco días laborables a partir de la recepción del artículo devuelto o de la solicitud de cancelación. Para saber cuándo se abonará el crédito a tu cuenta, ponte en contacto con la entidad emisora de la tarjeta. En cualquier otro caso Acme Concerts se reserva el derecho de no facilitar el dinero pagado al comprador.

    </div>
  </div>
  

{% endblock content %}