{% extends "base.html" %}

{% block content %}

<div class="card" style=" display: table; margin-right: auto; margin-left: auto; text-align: center; width: 80vw;">
    <div class="card-body">
      <h5 class="card-title"><strong>CONDICIONES DE LOS ENVÍOS</strong></h5>
      <br>
      <p class="card-text" style="text-align: justify">
        En Acme Concerts, contamos con varias opciones de envío aunque siempre los envíos los realizamos a través de empresas de mensajería. Independientemente del tipo de envío, los costes de entrega serán gratuitos.

        Ten presente que para que los tiempos de entrega se cumplan debes realizar el pedido antes de la hora de corte. Pasada dicha hora de corte, el pedido se tramitará al día siguiente, dado que no podemos entregárselo a la empresa de transporte.

        Los pedidos pagados por transferencia no serán efectivos hasta que recibamos el importe de la transferencia en nuestra cuenta corriente. A través del resto de medios de pago, el pedido comenzará a prepararse de manera inmediata. Si el pedido es urgente, recomendamos no usar la transferencia bancaria como método de pago.

        Siempre que realices un pedido en Acme Concerts te informaremos por email de cuándo hemos procedido al envío. Además, supervisaremos la entrega y nos pondremos en contacto contigo si existiera algún problema. Es por eso que pedimos que nos facilites un teléfono en el proceso de pedido.
    </div>
</div>
<br>
<div class="card" style=" display: table; margin-right: auto; margin-left: auto; text-align: center; width: 80vw;">
    <div class="card-body">
      <h5 class="card-title"><strong>HORARIO Y DÍA DE ENTREGA</strong></h5>
      <br>
      <p class="card-text" style="text-align: justify">
        Ten en cuenta que las empresas de transporte solo trabajan de lunes a viernes. No reparten los sábados ni, por supuesto, domingos ni festivos. Además, cuando te damos fechas de entrega, no tenemos en cuenta si es festivo local o autonómico en el lugar de destino; solo consideramos las fiestas nacionales y locales de origen.

        No podemos garantizar una hora de entrega. Las empresas de transporte podrán realizar la entrega a lo largo del día acordado antes de las 20:00. No obstante, se podrá indicar un horario aproximado que la empresa intentará cumplir, pero no está obligada. En caso de que no te localicen, la empresa de transporte intentará una segunda entrega pactada contigo. Si tras el segundo intento no te localizan, deberás pasar a recoger el pedido a las instalaciones de la empresa de transporte.
    </div>
  </div>
  

{% endblock content %}