{% extends "base.html" %}

{% block content %}
<main>
    <br>
    <div class="container">
        <h2 class="text-center mb-4"><u>Política de privacidad</u></h2>
        <section class="text-left mb-4">

            <div class="row wow fadeIn">
                <p>Acme-Concerts no utiliza cookies para recoger información de las personas usuarias, ni registra las direcciones IP de acceso. 
                    Únicamente se utilizan cookies propias,  de sesión, con finalidad técnica (aquellas que permiten la navegación a través del sitio web y la 
                    utilización de las diferentes opciones y servicios que en ella existen).
                </p>
            
                <p>A través de este sitio web no se recaban datos de carácter personal de las personas usuarias sin su conocimiento, ni se ceden a terceros. 
                    Los datos de carácter personal que se pudieran recabar directamente de la persona interesada serán tratados de forma confidencial.
                </p>

                <p>Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recaban y para determinar 
                    las posibles responsabilidades que se pudieran derivar de la finalidad. Con carácter general no se comunicarán los datos personales a terceros, salvo 
                    obligación legal, entre las que pueden estar las comunicaciones a Jueces y Tribunales.
                </p>

                <p>
                    Para solicitar el acceso, la rectificación, supresión o limitación del tratamiento de los datos personales o a oponerse al tratamiento, en el caso de 
                    que se den los requisitos establecidos en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personal y garantía de los derechos digitales,
                    puede dirigir un escrito al responsable de la web a través de nuestro correo electrónico.
                </p>
                
                <p>El portal web de Acme-Concerts contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son ajenas a la de Acme-Concerts. 
                    Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad y de cookies. 
                    Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.
                </p> 
            </div>
    </div>
</main>

{% endblock content %}